.vscode/
.coverage/
.git/
.husky/
.gitignore
.editorconfig
.pre-commit-config.yaml
.devcontainer
tests/
docker/
README.md
jest.config.js
docker-compose.yml
bitbucket-pipelines.yml
.prettierrc.js
.eslintrc.json
.env
.devcontainer/
k8s/
dist/
node_modules/